In [14]:
import pandas as pd
from ProjectTools import OpenBeds
from ProjectTools.OpenBeds import filterDepth

In [24]:
dry = True

if dry == True:
    top_hmc_genes = pd.read_excel('./top_hmc_genes_testSet.xlsx').to_dict()
    top_hmc_genes.pop("Unnamed: 0")

    tab_bed_path = './test_data/CRR008807_TAB_merged.bedGraph.gz.bismark.zero.cov_sub.bed'
    nano_3mod_path = './test_data/prom_R10.4.1_E8.2_WGS_brain_0.9.1_mods_sub.bed'
    nano_mc_df, nano_hmc_df = map(filterDepth, OpenBeds.get_nanopore_threeMod_wStrand(nano_3mod_path))
    tab_df = filterDepth(OpenBeds.get_bismark(tab_bed_path, "5hmC"))

else:
    top_hmc_genes = pd.read_excel('./top_hmc_genes.xlsx').to_dict()
    top_hmc_genes.pop("Unnamed: 0")

    tab_bed_path = './data/TAB_data/CRR008807_TAB_merged.bedGraph.gz.bismark.zero.cov'
    nano_3mod_path = './data/prom_R10.4.1_E8.2_WGS_brain_0.9.1_mods.bed'
    nano_mc_df, nano_hmc_df = map(filterDepth, OpenBeds.get_nanopore_threeMod_wStrand(nano_3mod_path))
    tab_df = filterDepth(OpenBeds.get_bismark(tab_bed_path, "5hmC"))

In [41]:
from pybedtools import BedTool

nano_hmc_df = nano_hmc_df[["chromosome", "chromStart", "chromEnd", "readCount", "percentMeth", "strand"]]

nano_intersect = BedTool.intersect(
    BedTool.from_dataframe(nano_hmc_df),
    BedTool('./feature_references/fig5_features/mm39_RefSeqC_select_merged_modified.bed'),
    wb=True, s=True).to_dataframe(names=["chromosome", "chromStart", "chromEnd", "readCount", "percentMeth", "strand", ".1", ".2", ".3", "geneName", ".4", ".5"]).drop(
    columns=["readCount", ".1", ".2", ".3", ".4", ".5"]
    )

In [42]:
nano_intersect

       chromosome  chromStart  chromEnd  percentMeth strand geneName
0            chr1     3284715   3284716        10.00      -     Xkr4
1            chr1     3284757   3284758         8.33      -     Xkr4
2            chr1     3285115   3285116        16.67      -     Xkr4
3            chr1     3286231   3286232         8.33      -     Xkr4
4            chr1     3286357   3286358         8.33      -     Xkr4
...           ...         ...       ...          ...    ...      ...
220195       chr1    72576275  72576276         0.00      -  Marchf4
220196       chr1    72576279  72576280         0.00      -  Marchf4
220197       chr1    72576283  72576284         0.00      -  Marchf4
220198       chr1    72576291  72576292         0.00      -  Marchf4
220199       chr1    72576299  72576300         5.00      -  Marchf4

[220200 rows x 6 columns]

In [10]:
pd.DataFrame(top_hmc_genes)

,gene_name,ratio_TAB,CpG_count_TAB,log2_TAB,ratio_Nano,CpG_count_Nano,log2_Nano,log2_difference
0,Gm15880,0.678091,57,-0.560450,0.509106,112,-0.973962,0.413512
1,Pan3,0.678606,453,-0.559353,0.507867,855,-0.977479,0.418125
2,Fbxw11,0.703372,341,-0.507640,0.518866,826,-0.946565,0.438926
3,Tspan5,0.687292,799,-0.541005,0.468553,2213,-1.093717,0.552711
4,Nedd4l,0.696387,1554,-0.522039,0.474245,3778,-1.076296,0.554257
5,Jmjd1c,0.725641,425,-0.462673,0.489034,989,-1.031992,0.569320
6,Ppp3ca,0.814528,1140,-0.295964,0.536714,2297,-0.897776,0.601811
7,Tcf4,0.737417,1944,-0.439448,0.479584,4032,-1.060145,0.620697
8,Dyrk1a,0.742249,507,-0.430025,0.480054,1095,-1.058730,0.628705
9,Lhfp,0.727954,843,-0.458081,0.465749,2025,-1.102374,0.644293
10,Jarid2,0.818163,607,-0.289539,0.519301,1385,-0.945358,0.655819
11,Dip2b,0.705623,755,-0.503030,0.439992,1882,-1.184451,0.681421
12,Cd47,0.735080,284,-0.444027,0.454909,512,-1.136351,0.692324
13,Abhd17b,0.709553,147,-0.495018,0.438638,347,-1.188897,0.693879
14,Pik3r3,0.685784,252,-0.544174,0.413265,588,-1.274860,0.730686
15,Spred2,0.791197,338,-0.337892,0.470175,1237,-1.088729,0.750838
16,Gabrb2,0.747172,444,-0.420487,0.443013,986,-1.174578,0.754091
17,"Gm6498,Peli2",0.680531,637,-0.555268,0.393711,1919,-1.344789,0.789521
18,Hivep2,0.759567,686,-0.396751,0.437075,1747,-1.194046,0.797295
19,Rnf182,0.756132,188,-0.403289,0.423838,476,-1.238415,0.835126
20,Fut8,0.724314,510,-0.465313,0.401916,1068,-1.315034,0.849721
21,Foxn2,0.753484,172,-0.408351,0.408803,434,-1.290521,0.882170
22,Pten,0.771405,232,-0.374440,0.405930,495,-1.300696,0.926256
23,Celf1,0.834920,238,-0.260291,0.426163,496,-1.230521,0.970230

In [11]:
import subprocess

genes_info = {}

for gene_name in top_hmc_genes["gene_name"].values():
    gene_info = subprocess.check_output(
        "grep {gene_name} ./feature_references/fig5_features/mm39_RefSeqC_select_merged_modified.bed".format(
        gene_name=gene_name), shell=True).decode(
        "UTF-8").split()
    gene_entry = {
        gene_name : 
        {
        "chromosome" : gene_info[0],
        "chromStart" : gene_info[1],
        "chromEnd" : gene_info[2],
        "strand" : gene_info[5]
        }
        }
    
    genes_info.update(gene_entry)

In [12]:
pd.DataFrame(genes_info).T

             chromosome chromStart   chromEnd strand
Gm15880            chr7   80285764   80294132      +
Pan3               chr5  147366965  147485311      +
Fbxw11            chr11   32592554   32696814      +
Tspan5             chr3  138447968  138610194      +
Nedd4l            chr18   65020826   65350897      +
Jmjd1c            chr10   66962866   67092105      +
Ppp3ca             chr3  136375826  136643488      +
Tcf4              chr18   69477562   69821038      +
Dyrk1a            chr16   94371064   94496378      +
Lhfp              chr13   94194303   94331917      +
Jarid2            chr13   44884249   45075119      +
Dip2b             chr15   99936544  100117354      +
Cd47              chr16   49676016   49732791      +
Abhd17b           chr19   21630672   21663001      +
Pik3r3             chr4  116078612  116160253      +
Spred2            chr11   19874441   19972597      +
Gabrb2            chr11   42310533   42523418      +
Gm6498,Peli2      chr14   48358325   48498340      +
Hivep2            chr10   13841818   14027122      +
Rnf182            chr13   43769272   43824420      +
Fut8              chr12   77284877   77522770      +
Foxn2             chr17   88748131   88797961      +
Pten              chr19   32734976   32803560      +
Celf1              chr2   90770741   90849842      +

In [29]:
target_bed = pd.DataFrame(genes_info).T.reset_index()[["chromosome", "chromStart", "chromEnd"]]
target_bed.to_csv('./feature_references/fig7_genes/target_genes.bed', sep="\t", header=None, index=None)