In [59]:
import pandas as pd

top_hmc_genes = pd.read_excel('./top_hmc_genes.xlsx').to_dict()
top_hmc_genes.pop("Unnamed: 0")

{0: 23,
 1: 22,
 2: 17,
 3: 19,
 4: 18,
 5: 13,
 6: 2,
 7: 10,
 8: 9,
 9: 12,
 10: 1,
 11: 16,
 12: 11,
 13: 15,
 14: 20,
 15: 3,
 16: 8,
 17: 21,
 18: 5,
 19: 6,
 20: 14,
 21: 7,
 22: 4,
 23: 0}

In [61]:
import subprocess

genes_info = {}

for gene_name in top_hmc_genes["gene_name"].values(

):
    gene_info = subprocess.check_output(
        "grep {gene_name} ./feature_references/fig5_features/mm39_RefSeqC_select_merged_modified.bed".format(
        gene_name=gene_name), shell=True).decode(
        "UTF-8").split(
        
        )
    gene_entry = {
        gene_name : 
        {
        "chromosome" : gene_info[0],
        "chromStart" : gene_info[1],
        "chromEnd" : gene_info[2],
        "strand" : gene_info[5]
        }
        }
    
    genes_info.update(gene_entry)

In [69]:
pd.DataFrame(genes_info).transpose().reset_index().rename(columns={
    "index" : "gene_name"
    })

       gene_name chromosome chromStart   chromEnd strand
0        Gm15880       chr7   80285764   80294132      +
1           Pan3       chr5  147366965  147485311      +
2         Fbxw11      chr11   32592554   32696814      +
3         Tspan5       chr3  138447968  138610194      +
4         Nedd4l      chr18   65020826   65350897      +
5         Jmjd1c      chr10   66962866   67092105      +
6         Ppp3ca       chr3  136375826  136643488      +
7           Tcf4      chr18   69477562   69821038      +
8         Dyrk1a      chr16   94371064   94496378      +
9           Lhfp      chr13   94194303   94331917      +
10        Jarid2      chr13   44884249   45075119      +
11         Dip2b      chr15   99936544  100117354      +
12          Cd47      chr16   49676016   49732791      +
13       Abhd17b      chr19   21630672   21663001      +
14        Pik3r3       chr4  116078612  116160253      +
15        Spred2      chr11   19874441   19972597      +
16        Gabrb2      chr11   42310533   42523418      +
17  Gm6498,Peli2      chr14   48358325   48498340      +
18        Hivep2      chr10   13841818   14027122      +
19        Rnf182      chr13   43769272   43824420      +
20          Fut8      chr12   77284877   77522770      +
21         Foxn2      chr17   88748131   88797961      +
22          Pten      chr19   32734976   32803560      +
23         Celf1       chr2   90770741   90849842      +

In [ ]:
from modbampy import ModBam

with ModBam('./data/prom_R10.4.1_E8.2_WGS_brain_DMR_regions.bam') as bam: 
    gene_list = []
    for gene in coord_dict.values():
        read_list = []
        for read in bam.reads(gene["chromosome"], gene["chromStart"], gene["chromEnd"]):
            read_sites = []
            for mod_position in read.mod_sites:
                mod_position_info = [gene["chromosome"], gene["chromStart"], gene["chromEnd"], gene["geneName"]]
                for datum in mod_position:
                    mod_position_info.append(datum)
                read_sites.append(mod_position_info)
            read_list.extend(read_sites)
        gene_list.extend(read_list)
    names=["chromosome", "chromStart", "chromEnd", "geneName", "read", "refPos", "qPos", "refStrand", "modStrand", "base", "mod", "score"]
    gene_df = pd.DataFrame(gene_list, columns=names)